/bootstrap/compiled.php
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
*.swp
*.swo
/app/config/database.php
/app/config/cache.php
/app/config/session.php
/public/downloads
/public/uploads
/public/juling
/app/storage/
/app/controllers/TestsController.php
.idea/
/app/config/business/environment.php
